<div class="container">
  <div [hidden]="submitted">
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <div *ngIf="Jenkins || Docker || Kubernetes || Dinghy" class="form-group">
        <label *ngIf="Jenkins" for="hostname" style="color: aliceblue;"
          >Enter a name for your Jenkins Master</label
        >
        <label *ngIf="Docker" for="hostname" style="color: aliceblue;"
          >Enter a name for your Docker Configuration</label
        >
        <label *ngIf="Kubernetes" for="hostname" style="color: aliceblue;"
          >Enter a name for this Kubernetes deployment acct</label
        >
        <label *ngIf="Dinghy" for="hostname" style="color: aliceblue;"
          >Enter a name for your Dinghy Configuration</label
        >
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="model.name"
          name="name"
          placeholder="Please enter the name"
        />
      </div>
      <div *ngIf="Dinghy" class="form-group">
        <label for="org" style="color: aliceblue;"
          >Enter the Github Organization</label
        >
        <input
          type="text"
          class="form-control"
          id="org"
          required
          [(ngModel)]="model.org"
          name="org"
          placeholder="Please enter the name"
        />
      </div>

      <div *ngIf="Jenkins || Docker" class="form-group">
        <label for="hostname" style="color: aliceblue;"
          >Enter the {{ which }} Hostname</label
        >
        <input
          type="text"
          class="form-control"
          id="hostname"
          required
          [(ngModel)]="model.hostname"
          name="hostname"
          placeholder="Please enter the master host name"
        />
      </div>

      <div *ngIf="Jenkins || Github || Docker" class="form-group">
        <label for="username" style="color: aliceblue;"
          >Enter the {{ which }} Username</label
        >
        <input
          type="text"
          class="form-control"
          id="username"
          required
          [(ngModel)]="model.username"
          name="username"
          placeholder="Please enter the username"
        />
      </div>
      <div *ngIf="Jenkins || Github || Docker || Dinghy" class="form-group">
        <label
          *ngIf="Jenkins || Github || Dinghy"
          for="password"
          style="color: aliceblue;"
          >Enter {{ which }} Authentication Token</label
        >
        <label *ngIf="Docker" for="password" style="color: aliceblue;"
          >Enter Docker Password</label
        >
        <input
          type="text"
          class="form-control"
          id="password"
          required
          [(ngModel)]="model.password"
          name="password"
          placeholder="Please enter the password"
        />
      </div>
      <div *ngIf="Docker || Dinghy" class="form-group">
        <label *ngIf="Docker || Dinghy" for="password" style="color: aliceblue;"
          >Enter {{ which }} Repository (format org/repo)</label
        >
        <input
          type="text"
          class="form-control"
          id="password"
          required
          [(ngModel)]="model.password"
          name="password"
          placeholder="Please enter the password"
        />
      </div>
      <div *ngIf="Kubernetes" class="form-group">
        <label for="hostname" style="color: aliceblue;"
          >Enter Kubernetes Service Account Contents</label
        >
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="model.name"
          name="name"
          placeholder="Please enter the name"
        />
      </div>
      <div class="two-buttons">
        <button
          type="button"
          class="btn btn-secondary clear"
          (click)="enable(); heroForm.reset()"
        >
          Clear
        </button>
        <button
          type="submit"
          class="btn btn-success enable"
          [disabled]="!heroForm.form.valid"
          (click)="enableIt()"
        >
          Enable
        </button>
      </div>
    </form>
  </div>

  <div [hidden]="!submitted" class="report">
    <div class="report-box">
      <p class="message">You have successfully configured {{ which }}</p>
    </div>
  </div>
</div>
<!--
<div class="form-group">
  <label for="services">services</label>
  <select
    class="form-control"
    id="power"
    required
    [(ngModel)]="model.configuration"
    name="configuration"
  >
    <option *ngFor="let pow of services" [value]="pow">{{ pow }}</option>
  </select>
</div>
-->
