/* You can add global styles to this file, and also import other style files */
@import url("https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css");
@import "~bootstrap/dist/css/bootstrap.css";
/*
html,
body {
  height: 50%;
  margin: 0;
}
*/
/*
.body-first-inner-element {
  background-image: url("./assets/nightsky1.jpg") !important;
  background-size: cover;
  background-position: center center;
}
.body-second-inner-element {
  background-image: url("./assets/nightsky2.jpg") !important;
  background-size: cover;
  background-position: center center;
}
*/

html,
body {
  height: 100%;
  background-image: url("./assets/moon2x.png") !important;
  background-size: cover;
  background-position: center center;
}
