<!--light theme-->

<div class="row">
  <div class="column1">
    <p style="color: white; font-size: 22px;">Spinnaker Cloud Connect</p>

    <img
      class="click btn btn-secondary mt-0 mb-0"
      src="../../../assets/oracle.png"
      (click)="goToPage('Oracle')"
    /><img
      class="click btn btn-secondary mt-0 mb-0"
      src="../../../assets/dinghy-1.png"
      (click)="goToPage('Dinghy')"
    /><img
      class="click btn btn-secondary mt-0 mb-0"
      src="../../../assets/kunerbatesTrans.png"
      (click)="goToPage('Kubernetes')"
    />
  </div>

  <div class="column2">
    <p style="color: white; font-size: 22px;">
      Repository and Artifacts for Deploy
    </p>
    <img
      class="click btn btn-secondary mt-0 mb-0"
      src="../../../assets/aws.png"
      (click)="goToPage('AWS')"
    />

    <img
      class="click btn btn-secondary mt-0 mb-0"
      src="../../../assets/azure.png"
      (click)="goToPage('Azure')"
    /><img
      class="click btn btn-secondary mt-0 mb-0"
      src="../../../assets/gitlab.png"
      (click)="goToPage('Gitlab')"
    />
  </div>

  <div class="column3">
    <p style="color: white; font-size: 22px;">Operationalize Spinnaker</p>
    <img
      class="click btn btn-secondary mt-0 mb-0"
      src="../../../assets/splunk.png"
      (click)="goToPage('Splunk')"
    /><img
      class="click btn btn-secondary mt-0 mb-0"
      src="../../../assets/alibaba.png"
      (click)="goToPage('Alibaba')"
    />
  </div>

  <div class="column4">
    <p style="color: white; font-size: 22px;">Continous Integration</p>
    <img
      class="click btn btn-secondary mt-0 mb-0"
      src="../../../assets/jenkinsTrans.png"
      (click)="goToPage('Jenkins')"
    /><img
      class="click btn btn-secondary mt-0 mb-0"
      src="../../../assets/githubBlack.png"
      (click)="goToPage('Github')"
    />
  </div>
</div>

<!-- dark theme html-->
<!--
<section class="hero body-first-inner-element">
  <div class="hero-body">
    <div id="container">
      <div class="block1">
        <div>
          <p style="color: white; font-size: 22px;">Spinnaker Cloud Connect</p>
        </div>
        <img
          class="click btn btn-secondary mt-0 mb-0"
          src="../../../assets/oracle.png"
          (click)="goToPage('Oracle')"
        /><img
          class="click btn btn-secondary mt-0 mb-0"
          src="../../../assets/dinghy-1.png"
          (click)="goToPage('Dinghy')"
        /><img
          class="click btn btn-secondary mt-0 mb-0"
          src="../../../assets/kunerbatesTrans.png"
          (click)="goToPage('Kubernetes')"
        />
      </div>
      <div class="block2">
        <div>
          <p style="color: white; font-size: 22px;">
            Repository and Artifacts for Deploy
          </p>
        </div>
        <img
          class="click btn btn-secondary mt-0 mb-0"
          src="../../../assets/aws.png"
          (click)="goToPage('AWS')"
        />

        <img
          class="click btn btn-secondary mt-0 mb-0"
          src="../../../assets/azure.png"
          (click)="goToPage('Azure')"
        /><img
          class="click btn btn-secondary mt-0 mb-0"
          src="../../../assets/gitlab.png"
          (click)="goToPage('Gitlab')"
        />
      </div>
      <div class="block3">
        <div>
          <p style="color: white; font-size: 22px;">Operationalize Spinnaker</p>
        </div>
        <img
          class="click btn btn-secondary mt-0 mb-0"
          src="../../../assets/splunk.png"
          (click)="goToPage('Splunk')"
        /><img
          class="click btn btn-secondary mt-0 mb-0"
          src="../../../assets/alibaba.png"
          (click)="goToPage('Alibaba')"
        />
      </div>
      <div class="block4">
        <div>
          <p style="color: white; font-size: 22px;">Continous Integration</p>
        </div>
        <img
          class="click btn btn-secondary mt-0 mb-0"
          src="../../../assets/jenkinsTrans.png"
          (click)="goToPage('Jenkins')"
        /><img
          class="click btn btn-secondary mt-0 mb-0"
          src="../../../assets/githubBlack.png"
          (click)="goToPage('Github')"
        />
      </div>
    </div>
  </div>
</section>
-->
